<h1><%= @recipe.name %></h1> 
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>
<b>Ingredients: </b>
  <ul>
    <% @recipe.ingredients.each do |ingredient|%>
    <li><%= ingredient.name %>
    <% end %>
  </ul>

<p>Total Cost: <%= @recipe.total_cost %> </p>